body {
  margin: 0px;
  padding: 0px;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower__container {
  position: relative;
  width: 400px;
  height: 400px;
  outline: 1px solid red;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.face > img {
  width: 150px;
  height: 150px;
}

.petals {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center;
  transform: rotateZ(-45deg);
}

.offset {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center;
  overflow: hidden;
  transform: translateY(-40px);
}

.petal {
  width: 100px;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.petals:hover .petal {
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
